<form>
    <div>
        <label for="title">Title:</label>
        <input type="text" nbInput fullWidth placeholder="Title" formControlName="title" />
    </div>

    <div>
        <label for="description">Description: </label>
        <textarea type="text" nbInput fullWidth placeholder="Attract more students with a stunning description"
            formControlName="description" />
    </div>
    <button type="submit" nbButton="" fullwidth status="primary" size="large" ng-reflect-status="primary"
        ng-reflect-size="large" ng-reflect-disabled="true" aria-disabled="true" tabindex="-1"
        class="appearance-filled full-width size-large status-primary shape-rectangle nb-transition">
        Log In
    </button>
</form>