div {
  margin-top: 20px;
}

label {
  font-size: small;
  font-weight: 700;
  color: gray;
}

h1 {
  text-align: center;
}

nb-card {
  width: 50rem;
}

nb-card-footer {
  display: flex;
  justify-content: flex-end;
}
button {
  margin-right: 1rem;
}
