<nb-card>
    <nb-card-body>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

            <div>
                <input type="password" nbInput fullWidth fieldSize="small" placeholder="New password"
                    formControlName="password" />
            </div>

            <div>
                <input type="password" nbInput fullWidth fieldSize="small" placeholder="New password again"
                    formControlName="passwordagain" />
            </div>

            <div>
                <button nbButton status="danger" size="tiny"
                    class="appearance-filled status-danger shape-rectangle nb-transition">Cancel</button>
                <button nbButton status="success" size="tiny" type="submit"
                    class="appearance-filled status-success shape-rectangle nb-transition">Change password</button>
            </div>
        </form>
    </nb-card-body>

</nb-card>